# Node modules
node_modules
.pnpm-store

# log
*.log

# DB
*.sqlite
*.db

# zipped files
*.tar
*.tar.gz
*.zip

# Build output
.next
dist
out
build

# Local environment files
.env
.env.local
.env.development
.env.test
.env.production

# Git and editor junk
.git
.gitignore
.vscode
.idea
.DS_Store
*.swp
*.swo

# Docker itself
Dockerfile
docker-compose.yml